/*
 *  Main CSS
 */

 html, body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 50vh;
    padding: 0;
    margin: 0;
    font-family: 'Arial', monospace;
}
  
* {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    touch-action: manipulation;
}

header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}


#up-btn {
    display: inline-block;
    width: 3em;
    height: 3em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36 36'%3E%3Cpath fill='%233b88c3' d='M36 32a4 4 0 0 1-4 4H4a4 4 0 0 1-4-4V4a4 4 0 0 1 4-4h28a4 4 0 0 1 4 4z'/%3E%3Cpath fill='%23fff' d='M22 29v-9h7L18 7L7 20h7v9z'/%3E%3C/svg%3E");
}
  
#down-btn {
    display: inline-block;
    width: 3em;
    height: 3em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36 36'%3E%3Cpath fill='%233b88c3' d='M36 32a4 4 0 0 1-4 4H4a4 4 0 0 1-4-4V4a4 4 0 0 1 4-4h28a4 4 0 0 1 4 4z'/%3E%3Cpath fill='%23fff' d='M22 7v9h7L18 29L7 16h7V7z'/%3E%3C/svg%3E");
}

#left-btn {
    display: inline-block;
    width: 3em;
    height: 3em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36 36'%3E%3Cpath fill='%233b88c3' d='M36 32a4 4 0 0 1-4 4H4a4 4 0 0 1-4-4V4a4 4 0 0 1 4-4h28a4 4 0 0 1 4 4z'/%3E%3Cpath fill='%23fff' d='M29 14h-9V7L7 18l13 11v-7h9z'/%3E%3C/svg%3E");
}

#right-btn {
    display: inline-block;
    width: 3em;
    height: 3em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36 36'%3E%3Cpath fill='%233b88c3' d='M36 32a4 4 0 0 1-4 4H4a4 4 0 0 1-4-4V4a4 4 0 0 1 4-4h28a4 4 0 0 1 4 4z'/%3E%3Cpath fill='%23fff' d='M7 14h9V7l13 11l-13 11v-7H7z'/%3E%3C/svg%3E");
}

#pause-btn {
    display: inline-block;
    width: 3em;
    height: 3em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36 36'%3E%3Cpath fill='%233b88c3' d='M36 32a4 4 0 0 1-4 4H4a4 4 0 0 1-4-4V4a4 4 0 0 1 4-4h28a4 4 0 0 1 4 4z'/%3E%3Cpath fill='%23fff' d='M20 7h5v22h-5zm-9 0h5v22h-5z'/%3E%3C/svg%3E");
}

#enter-btn {
    display: inline-block;
    width: 3em;
    height: 3em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36 36'%3E%3Cpath fill='%233b88c3' d='M36 32a4 4 0 0 1-4 4H4a4 4 0 0 1-4-4V4a4 4 0 0 1 4-4h28a4 4 0 0 1 4 4z'/%3E%3Cpath fill='%23fff' d='m8 7l22 11L8 29z'/%3E%3C/svg%3E");
}

header {
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    background-color: #030a37;
    z-index: 100;
    top:0;
}

header h1 {
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    -o-transition: transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

header h1:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
}
  
  
#logo {
    width: 48px;
    height: 48px;
    margin-right: 10px; 
}
  
h1 {
    color:#d7b004
}

body {
    padding-top: 60px; 
    padding-bottom: 40px; 
    -webkit-box-pack: justify; 
        -ms-flex-pack: justify; 
            justify-content: space-between; 
}

.form-group label {
    font-weight: bold; 
}
  
#playerName {
    background-color: #f2f2f2; 
    height: 40px; 
    border: 1px solid #dcdcdc; 
    padding: 5px 10px; 
    font-size: 1rem; 
    -webkit-box-sizing: border-box; 
            box-sizing: border-box; 
    border-radius: 10px;
}

button {
    color: black; 
    font-weight: bold; 
    background-color: #0da00d; 
    padding: 10px 20px; 
    cursor: pointer; 
    outline: none; 
    -webkit-transition: background-color 0.3s, color 0.3s; 
    -o-transition: background-color 0.3s, color 0.3s; 
    transition: background-color 0.3s, color 0.3s; 
    border: #030931 solid 2px;
    border-radius: 10px;
}
  
button:hover {
    color: white; 
    background-color: #8b36d6; 
}

button:active {
    color: white; 
    background-color: #8b36d6; 
}
 
p {
    font-weight: bold; 
    color: #000080; 
}

#lastGamesResults p {
    font-weight: bold; 
    color: #006400; 
}



.form-group, .game-board {
    width: 100%; 
    max-width: 600px; 
    margin: auto; 
}

.game-board {
    display: none; 
    padding: 50px; 
    -webkit-box-sizing: border-box; 
            box-sizing: border-box; 
}

.snake {
    background-color: #0b533e;
}

.game-board {
    display: none;
}

#instruction {
    position: absolute;
    top: 30%;
    color: #0d98ba; 
    text-align: center;
    text-transform: capitalize;
    padding: 30px;
    margin: 0;
    z-index: 10; 
}

#game-board {
    border-radius: 100px;
    display: grid;
    grid-template-columns: repeat(20, 20px);
    grid-template-rows: repeat(20, 20px);
    margin: 5px;
}

.game-border-1 {
    border: #030931 solid 10px;
    border-radius: 30px;
}
  
.game-border-2 {
    border: #d7b004 solid 10px;
    border-radius: 25px;
}
  
.game-border-3 {
    border: #032a51 solid 30px;
    border-radius: 20px;
}
 
.panel {
    background-color: #d7b004; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    padding: 10px; 
    border-radius: 20px;

}

.bottom {
    display: flex; 
    justify-content: center; 
    background-color: #d7b004; 
    width: 100%; 
    padding: 10px; 
    border-radius: 20px;

}


  
  
